// Fonts

@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables

@import 'admin-lte';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue';
@import 'variables';

